body{
	padding: 0;
	margin: 0;
}
         /*-------------------dekstop view-------------*/
.wrapper{
	height: 140vh;
	width: 100%;
	background: url(images/home.jpg) no-repeat;
	background-size: cover;
} 
           /*-------------------navigation dekstop view-------------*/
.wrapper nav{
	width: 100%;
	height: 72px;
}
.logo
{
  padding: 25px 90px;
  height: auto;
  float: left;
  font-weight: bold;
}
.wrapper nav ul{
	padding: 0;
	margin: 0;
	float: right;
	margin-right: 60px;
}
.wrapper nav ul li{
	position: relative;
	list-style: none;
	display: inline-block;
}
.wrapper nav ul li a{
	display: block;
	border-radius: 28px;
	text-decoration: none;
	color: white;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 13px;
	margin-top: 20px;
	line-height: 30px;
	font-family: 'roboto', sans-serif;
}
.wrapper nav ul li a.active{
	background: #633434;
}
.wrapper nav ul li a:hover{
	background: #800000;
}
.wrapper nav ul ul{
	position: absolute;
	top: 60px;
	line-height: 20px !important;
	display: none;
	background: white;
	border-radius: 10px;
}
.wrapper nav ul li:hover > ul{
	display: block;
}
.wrapper nav ul ul li{
	width: 150px;
	float: none;
	display: list-item;
	position: relative;
	line-height: 20px !important;
}
.wrapper nav ul ul li a{
    color: black;
    padding: 0px 3px;
    font-weight: normal;
}
.wrapper nav ul ul li a:hover{
	background: lightblue;
}
                        /*-------------------end of dekstop view navigation-------------*/
.h2{
	display: none;
}
              /*-------------------form dekstop view-------------*/
.form1{
	display: none;
}
.add1{
	display: none;
}
.form{

	border: white solid 2px;
	margin-top: 60px;
	margin-left: 85px;
	height: 465px;
	background: white;
	width: 435px;
	border-radius: 4px;
}
.form > p{
	margin-left: 22px;
	margin-top: 20px;
	font-size: 30px;
	font-weight: bold;
	font-family: 'roboto', sans-serif;
}
.decoration{
	margin: 20px;
	padding: 0;
}
#in1{
	float: left;
	margin: 0;
	padding: 0;
	margin-top: 18px;
}
#in{
	float: left;
	margin: 0;
	padding: 10px;
	margin-top: -22px;
}
#out1{
	float: right;
	margin: 0;
	margin-top: -42px;
	padding: 0;
	margin-right: 120px;
}
#out{
	float: right;
	margin: 0;
	margin-top: -42px;
	padding: 10px;
}
.btn{
	float: right;
}
.decoration p{
	font-size: 12px;
	margin-left: 0px;
}
.add{

	border: white solid 2px;
	border-top: orange solid 10px;
	margin-top: 88px;
	padding-bottom: 100px;
	margin-left: -2px;
	height: 130px;
	background: white;
	width: 435px;
	border-radius: 8px;
}
.add > p{
	margin: 20px 30px 10px 20px;
	font-size: 15px;
	font-weight: bold;
	font-family: 'roboto', sans-serif;
}
.add > a{
	margin: 20px 30px 10px 20px;
	font-size: 15px;
	line-height: 30px;
	font-weight: bold;
	text-decoration: underline;
	color: black;
	font-family: 'roboto', sans-serif;
}
.add > a:hover{
	background: lightblue;
} 
                         /*-------------------end of form in dekstop view-------------*/

                          /*-------------------mobile mode navigation-------------*/
.mobile
{
	height: 50px;
	left: 0;
	position: fixed;
	width: 100%;
	bottom: 0;
	background: #EFE4E4;
	letter-spacing: 1px;
	display: none;
}
.mobile{
	text-align: center;
}
.mobile ul{
	padding: 0;
	margin: 0;
	justify-content: center;
}
.desc{
	text-align: center;
	padding: 0 10px;
}

.mobile ul li{
	position: relative;
	list-style: none;
	display: inline-block;
	margin-top: 9px;
}
.mobile ul li a{
	text-decoration: none;
	color: black;
	font-size: 14px;	
	font-family: 'roboto', sans-serif;
}
.mobile ul li a.active,
.mobile ul li a:hover{
	color: red;
}                          /*-------------------end of mobile mode navigation-------------*/
 
                      /*-------------------section dekstop view-------------*/
section
{
	height: 120vh;
	width: 100%;
}
.sec
{
	
	float: left;
	margin-top: 3%;
	height: auto;
	width: 100%;
	height: auto;
	border: black solid 0px;
	border-bottom: #8ac7db solid 1px;
}
.sec1{
	float: left;
	font-size: 30px;
	padding-left: 7%;
	margin-bottom: 100px;
	width: 30%;
	height: auto;
	font-weight: bold;
	font-family: 'roboto', sans-serif;
}
.sec2{
	float: right;
	font-size: 19px;
	width: 60%;
	height: auto;
	margin-right: 6%;
	font-family: 'roboto', sans-serif;
}
.sec2 > a{
	color: black;
	text-decoration: underline;
}
/*
.uk{
	float: left;
	margin-top: 70px;
	height: auto;
	width: 100%;
	height: auto;
	border: black solid 0px;
	border-bottom: #8ac7db solid 1px;
}
.uk1{
	float: left;
	font-size: 30px;
	padding-left: 95px;
	font-weight: bold;
	width: 500px;
	margin-bottom: 80px;
	font-family: 'roboto', sans-serif;
}

.ukp{
	float: right;
	font-size: 19px;
	margin-right: 100px;
	width: 700px;
	font-family: 'roboto', sans-serif;
}
.ukp > a{
	color: black;
	text-decoration: underline;
}
*/
               /*-------------------box dekstop view-------------*/
.box{
	float: left;
	margin-top: 70px;
	height: auto;
	margin-left: 80px;
	width: 88%;
	height: auto;
	border: #8ac7db solid 1px;
	border-radius: 8px;
	border-left: orange solid 9px;
}
.box1{
	float: left;
	font-size: 17px;
	margin-top: 20px;
	padding-left: 15px;
	font-weight: bold;
	font-family: 'roboto', sans-serif;
}

.box2{
	float: left;
	font-size: 17px;
	margin-left: 15px;
	margin-bottom: 20px;
	font-family: 'roboto', sans-serif;
}
.box2 > a{
	color: black;
	font-weight: bold;
	text-decoration: underline;
}
                   /*-------------------image dekstop view-------------*/
.lot
{
	
	float: left;
	margin-top: 40px;
	height: auto;
    width: 100%;
	height: auto;
	border: black solid 0px;
}
.num{
	font-size: 22px;
	margin-left: 80px;
	font-weight: bold;

}
.img1
{
	
	float: left;
	margin-top: 5px;
	margin-left: 80px;
	height: auto;
	width: 29%;
	height: auto;
    box-shadow: 0 6px 9px rgba(0,0,0,0.4);
	border-radius: 15px;
}
.imgg{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	height: 100px;
	width: 33%;
}
.imgp{
	color: black;
	font-weight: bold;
    font-size: 17px;
    font-family: 'roboto', sans-serif;
    float: right;
    margin: 10% 34% 0 0;
}
.imgpo{
	color: black;
	font-weight: bold;
    font-size: 17px;
    font-family: 'roboto', sans-serif;
    float: right;
    margin: 10% 48% 0 0;
}
.img2
{
	
	float: left;
	margin-top: 5px;
	margin-left: 15px;
	height: auto;
	width: 29%;
	height: auto;
	box-shadow: 0 6px 9px rgba(0,0,0,0.4);
	border-radius: 15px;
}
.img3
{
	
	float: left;
	margin-top: 5px;
	margin-left: 15px;
	height: auto;
	width: 28%;
	height: auto;
	box-shadow: 0 6px 9px rgba(0,0,0,0.4);
	border-radius: 15px;
}
                             /*-------------------about community and support dekstop view-------------*/
.about{
	width: 100%;
	height: 326px;
	border: black solid 0px;
	border-top: #8ac7db solid 1px;
}
.abt{
	float: left;
	margin-left: 80px;
	margin-top: 50px;
}
.cum{
	float: left;
	margin-left: 170px;
	margin-top: 50px;
}
.hst{
	float: left;
	margin-left: 170px;
	margin-top: 50px;
}
.sprt{
	float: left;
	margin-left: 170px;
    margin-top: 50px;
}
.hid{
	font-weight: bold;
}
.hidp1{
	margin-top: 17px;
	color: black;
}
.hidp{
	margin-top: 15px;
	color: black;
}
.abt1,.cum1,.hst1,.sprt1{
	display: none;
} 
                /*-------------------footer dekstop view-------------*/
.footer{

	height: 67px;
	width: 88%;
	margin-left: 87px;
	border: black solid 0px;
	border-top: #8ac7db solid 1px;
}
.left{
	float: left;
	margin-top: 20px;
}
.left a:hover{
	color: #8b0000;
}
.dot{
	color: black;
}
.right{
	float: right;
	margin-top: 20px;
}
.right a:hover{
	color: #8b0000;
}
#ico:hover{
	color: #8b0000;
}
#ico{
	color: black;
}
#icol:hover{
	color: #8b0000;
}
#icol{
	color: black;
}
.globe{
     color: black;
     padding-right: 20px;
}
.rupee{
     color: black;
     padding-right: 50px;
}
.fb{
   padding-right: 20px;
}
.twit{
    padding-right: 20px;
}
.list{
	display: none;
}
.lift{
	display: none;
}
.max{
	display: none;
}
.min{
	display: none;
}
              /*-------------------for mobile view under 500px-------------*/
@media only screen and (max-width: 500px){
	section{
		width: 100%;
		height: 70vh;
	}
	.footer{
		display: none;
	}
	.list{
		display: none;
	}
	.lift{
		display: none;
	}
}
                 /*-------------------mobile view for 500px to 760px-------------*/
@media only screen and (max-width: 760px) and (min-width: 500px){
	section{
		width: 100%;
		height: 150vh;
	}
}
                /*-------------------mobile view upto 760px-------------*/
@media only screen and (max-width: 760px){
	.wrapper{
	height: 35vh;
	width: 100%;
	background: url(images/home1.jpg) no-repeat;
	background-size: cover;
    }
    	.h2{
		display: block;
		padding-top: 20vh;
		float: left;
	}
	.mobile
 {
	display: block;
 }
 .logo{
 	display: none;
 }
 .wrapper nav {
 	display: none;
 }
   .form1{
	    display: block;
		border: white solid 0px;
		margin-top: 2%;
		margin-left: 1.5%;
		height: auto;
		background: white;
		width: 94%;

	}
	.decoration1{
		margin: 20px 0 0 20px;
		padding: 0;
	}
	#in1{
		float: left;
		margin: 0;
		padding: 0;
		margin-top: 18px;
	}
	#in{
		float: left;
		margin: 0;
		padding: 10px;
		margin-top: -22px;
	}
	#out1{
		float: left;
		margin: 0;
		margin-top: -42px;
		padding: 0;
	}
	#out{
		float: right;
		margin: 0;
		margin-top: -42px;
		padding: 10px;
	}
	.btn{
		float: right;
	}
	.decoration p{
		font-size: 12px;
		margin-left: 0px;
	}


	.add1{
        display: block;
		border: white solid 2px;
		border-top: orange solid 10px;
		margin-top: 4%;
		margin-left: 3%;
		height: auto;
		background: white;
		width: 93%;
		box-shadow: 0 6px 9px rgba(0,0,0,0.4);
		border-radius: 8px;
	}
	.add1 > p{
		margin: 20px 30px 10px 20px;
		font-size: 15px;
		font-weight: bold;
		font-family: 'roboto', sans-serif;
	}
	.add1 > a{
		margin: 20px 30px 20px 20px;
		font-size: 15px;
		line-height: 40px;
		font-weight: bold;
		text-decoration: underline;
		color: black;
		font-family: 'roboto', sans-serif;
	}
	.add > a:hover{
		background: lightblue;
	}  
	.form{
		display: none;
	}
	.add{
		display: none;
	}
 .sec
{
	margin-top: 5%;
	border-top: #8ac7db solid 1px;
}
.sec1{
	margin-top: 4%;
	font-size: 20px;
	padding-left: 20px;
	margin-bottom: 20px;
	width: 100%;
	font-weight: bold;
	font-family: 'roboto', sans-serif;
}
.sec2{
	float: left;
	font-size: 17px;
	width: 96%;
	margin-left: 20px;
	font-family: 'roboto', sans-serif;
}
.box{
	margin-top: 50px;
	margin-left: 20px;
	width: 93%;
	border-top: orange solid 9px;
	border-left: none;
}
.box1{
	float: left;
	font-size: 17px;
}

.box2{
	float: left;
	font-size: 15px;
	margin-right: 10px;
}
.num{
	font-size: 20px;
	margin-left: 20px;

}
.img1
{
	margin-left: 20px;
	margin-bottom: 200px;
	width: 20%;
}
.imgg{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 0px;
	height: 100px;
	width: 100%;
}
.imgp{
    font-size: 12px;
    float: none;
    text-align: center;
    margin: 9px 0 7px 0;
}
.imgpo{
    font-size: 15px;
    float: none;
    text-align: center;
    margin: 9px 0 7px 0;
}
.img2
{
	margin-left: 10%;
	width: 20%;
}
.img3
{
	margin-left: 10%;
	width: 20%;
}
.about{
	display: none;
	height: 400px;
}
.abt1,.cum1,.hst1,.sprt1{
	display: none;
}
.footer{
    margin-top: 200px;
	height: auto;
	margin-left: 20px;
}
.list{
	display: block;
	margin-top: 20px;
}
.list a:hover{
	color: #8b0000;
}
#ico:hover{
	color: #8b0000;
}
#ico{
	color: black;
}
.globe{
     color: black;
     padding-right: 20px;
}
.rupee{
     color: black;
     padding-right: 50px;
}
.lift{
	margin-top: 17px;
	margin-bottom: 17px;
	display: block;
}
.lift a:hover{
	color: #8b0000;
}
.dot{
	color: black;
}
.right{
	display: none;
}
.left{
	display: none;
}
.max{
	display: none;
}
.min{
	display: none;
}
}
@media only screen and (max-width: 1150px){
   .logo span{
   	display: none;
   }
}
             /*-------------------dekstop view footer section and about part-------------*/
@media only screen and (max-width: 1150px) and (min-width: 760px){

	.about{
		display: none;
	}
	.abt1,.cum1,.hst1,.sprt1{
		display: block;
	}
	.abt1{
		width: 100%;
		height: 120px;
		margin-bottom: 1.5%;
		border: black solid 0px;
		border-top: #8ac7db solid 1px;
	}
	.hid2{
		font-weight: bold;
		margin-top: 3%;
		margin-left: 4%;
	}
	.hidp2{
		float: left;
		margin-left: 4%;
		color: black;
	}
	.hidp3{
		float: left;
		margin-left: 200px;
		color: black;
	}
	.hidp4{
		float: left;
		margin-left: 200px;
		color: black;
	}
	.hidp5{
		float: left;
		margin-top: 7px;
		margin-left: -697px;
		color: black;
	}
	.hidp6{
		float: left;
		margin-top: 7px;
		margin-left: -367px;
		color: black;
	}
	.cum1{
		width: 90%;
		height: 120px;
		margin-left: 4%;
		margin-bottom: 1.5%;
		border: black solid 0px;
		border-top: #8ac7db solid 1px;
	}
	.hid3{
		font-weight: bold;
		margin-top: 3%;
	}
	.hidpp{
		float: left;
		color: black;
	}
	.hidpp1{
		float: left;
		margin-left: 220px;
		color: black;
	}
	.hidpp2{
		float: left;
		margin-left: 160px;
		color: black;
	}
	.hidp7{
		float: left;
		margin-top: 25px;
		margin-left: -660px;
		color: black;
		margin-bottom: 50px;
	}
	.hst1{
		width: 90%;
		height: 120px;
		margin-left: 4%;
		margin-bottom: 1.5%;
		border: black solid 0px;
		border-top: #8ac7db solid 1px;
	}
	.hidp8{
		float: left;
		margin-left: 180px;
		color: black;
	}
	.hidp9{
		float: left;
		margin-left: 142px;
		color: black;
	}
	.hidp10{
		float: left;
		margin-top: 25px;
		margin-left: -665px;
		color: black;
	}
	.hidp11{
		float: left;
		margin-top: 25px;
		margin-left: -388px;
		color: black;
	}
	.hidp12{
        float: left;
        margin-top: 25px;
        margin-left: -125px;
        color: black;
	}
	.sprt1{
		width: 90%;
		height: 120px;
		margin-left: 4%;
		border: black solid 0px;
		border-top: #8ac7db solid 1px;
	}
}
@media only screen and (max-width: 1150px) and (min-width: 812px){

	.about{
		display: none;
	}
	.abt1,.cum1,.hst1,.sprt1{
		display: block;
	}
	.abt1{
		width: 100%;
		height: 120px;
		margin-bottom: 1.5%;
		border: black solid 0px;
		border-top: #8ac7db solid 1px;
	}
	.hid2{
		font-weight: bold;
		margin-top: 3%;
		margin-left: 4%;
	}
	.hidp2{
		float: left;
		margin-left: 4%;
		color: black;
	}
	.hidp3{
		float: left;
		margin-left: 220px;
		color: black;
	}
	.hidp4{
		float: left;
		margin-left: 240px;
		color: black;
	}
	.hidp5{
		float: left;
		margin-top: 7px;
		margin-left: -758px;
		color: black;
	}
	.hidp6{
		float: left;
		margin-top: 7px;
		margin-left: -407px;
		color: black;
	}
	.cum1{
		width: 90%;
		height: 120px;
		margin-left: 4%;
		margin-bottom: 1.5%;
		border: black solid 0px;
		border-top: #8ac7db solid 1px;
	}
	.hid3{
		font-weight: bold;
		margin-top: 3%;
	}
	.hidpp{
		float: left;
		color: black;
	}
	.hidpp1{
		float: left;
		margin-left: 240px;
		color: black;
	}
	.hidpp2{
		float: left;
		margin-left: 200px;
		color: black;
	}
	.hidp7{
		float: left;
		margin-top: 25px;
		margin-left: -723px;
		color: black;
		margin-bottom: 50px;
	}
	.hst1{
		width: 90%;
		height: 120px;
		margin-left: 4%;
		margin-bottom: 1.5%;
		border: black solid 0px;
		border-top: #8ac7db solid 1px;
	}
	.hidp8{
		float: left;
		margin-left: 197px;
		color: black;
	}
	.hidp9{
		float: left;
		margin-left: 172px;
		color: black;
	}
	.hidp10{
		float: left;
		margin-top: 25px;
		margin-left: -715px;
		color: black;
	}
	.hidp11{
		float: left;
		margin-top: 25px;
		margin-left: -418px;
		color: black;
	}
	.hidp12{
        float: left;
        margin-top: 25px;
        margin-left: -125px;
        color: black;
	}
	.sprt1{
		width: 90%;
		height: 120px;
		margin-left: 4%;
		border: black solid 0px;
		border-top: #8ac7db solid 1px;
	}
}
@media only screen and (max-width: 1150px) and (min-width: 760px){
    .wrapper{
    height: 140vh;
    width: 100%;
    background: url(images/home2.jpg) no-repeat;
    background-size: cover;
   }
   .logo{
   	  padding: 25px 35px;
	  height: auto;
	  float: left;
	  font-weight: bold;
   }
   .wrapper nav ul{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 35px;
}
section{
	height: 140vh;
	width: 100%;
}
   .sec
{
    margin-top: 20px;
}
.sec1{
	width: 70%;
    font-size: 28px;
    padding-left: 40px;
    margin-bottom: 20px;
}
.sec2{
    float: left;
    font-size: 17px;
    width: 75%;
    margin-left: 40px;
}
 .box{
    float: left;
    margin-top: 60px;
    height: auto;
    margin-left: 40px;
    width: 92%;
}
.num{
    margin-left: 40px;
}
.img1
{
    margin-left: 40px;
    width: 29%;
}
.imgg{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    height: 185px;
    width: 100%;
}
.imgp{
    font-size: 17px;
    float: left;
    margin: 12px 0 10px 15px;
}
.imgpo{
    font-size: 17px;
    float: left;
    margin: 12px 0px 10px 15px;
}
.img2
{
    margin-left: 2%;
    width: 29%;
}
.img3
{
    margin-left: 2%;
    width: 29%;
}
.about{
	display: none;
}
.footer{

    height: 67px;
    width: 90%;
    margin-left: 40px;
    border: black solid 0px;
    text-align: center;
    border-top: #8ac7db solid 1px;
}
.max{
	display: block;
	margin-top: 20px;
}
.min{
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}
.left{
	display: none;
}
.right{
	display: none;
}
}